<!-- <footer class="container">
    <div class="section-footer">
        <div>
            <a class="logo header-logo" href="/index.html"><img src="/img/logo.svg" alt="Logo" width="40"
                    height="36" />Product</a>

            <ul class="social-svg-list">
                <li class="social-svg-list-item">
                    <a class="social-svg-list-link" href="" target="_blank" rel="noopener noreferrer nofollow"
                        aria-label="Instagram">
                        <svg class="social-svg" width="24" height="24">
                            <use href="/img/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-svg-list-item">
                    <a class="social-svg-list-link" href="" target="_blank" rel="noopener noreferrer nofollow"
                        aria-label="Facebook">
                        <svg class="social-svg" width="24" height="24">
                            <use href="/img/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-svg-list-item">
                    <a class="social-svg-list-link" href="" target="_blank" rel="noopener noreferrer nofollow"
                        aria-label="Twitter">
                        <svg class="social-svg" width="24" height="24">
                            <use href="/img/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <nav class="footer-nav">
            <div class="wrapper-nav-recource">
                <p class="footer-text">Resource</p>
                <ul class="footer-nav-list">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>

            <div class="wrapper-nav-stuff">
                <p class="footer-text">Legal Stuff</p>
                <ul class="footer-nav-list">
                    <li><a href="">Disclaimer</a></li>
                    <li><a href="">Financing</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms of Service</a></li>
                </ul>
            </div>
        </nav>

        <form class="footer-form">
            <p class="footer-text">
                knowing you're always on <br />the best energy deal.
            </p>
            <div class="wrapper-footer-form">
                <input class="wrapper-footer-input" type="tel" placeholder="Enter your phone number" />
                <svg class="wrapper-footer-svg" width="18" height="28">
                    <use href="/img/symbol-defs.svg#icon-mobile-screen"></use>
                </svg>

            </div>
            <button class="footer-btn" type="submit">Sign up Now</button>
        </form>
    </div>

    <p class="end-text">Made With Love By Figmaland All Right Reserved</p>
</footer> -->